.option {
    display: flex;
}

.option button {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    background-color: white;
}

.option button:hover {
    background-color: lightgray;
}