.header a {
    text-decoration: none;
    margin-right: 15px;
    font-size: 1.5rem;
    color: white;

}

.header {
    align-items: center;
    text-align: center;
    background-color: rgba(29, 24, 24, 0.836);
    padding: 15px;
}

.header a:hover {
    background-color: gray;
    color: black;
}

.heading {
    margin-left: 100px;

}

.heading h1 {
    font-weight: bold;
    font-family: 'lota';

}

.first-text {
    color: orange;
}